{% extends "esqueleto.html" %}

{% block contenido %}
{% if barcos.count() > 0 %}
<h1>Listado de Barcos</h1>
{% for barcos in barcos %}
<li class="list-group-item">
    (<a href="/barco/modifica?id={{ barcos.key.urlsafe() }}">modif</a>)
    (<a href="/barco/elimina?id={{ barcos.key.urlsafe() }}">supr</a>)
    {% include "entrada_barco.html" %}
</li>
{% endfor %}
{% else %}
<p><b>No hay barcos registrados.</b></p>
{% endif %}
<div style="margin-left: 20px">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg><a href="/barco/nueva">Nuevo Barco</a>
</div>
{% endblock %}