{% extends "esqueleto.html" %}

{% block contenido %}

<form id="frmNuevoEquipamiento"
      method="post"
      action="/casco/modifica?id={{ casco.key.urlsafe() }}&ship={{ clave_barco }}"
      enctype="multipart/form-data"
      onsubmit="return check()">
<div class="form-group col-6" style="margin-left:40px; margin-top: 40px; margin-bottom: 40px; border-style: groove; background-color: aliceblue">
    <p>
        <label for="edTipo">Tipo:</label>
        <input type="text" class="form-control" id="edTipo" name="edTipo"
                   value="{{ casco.tipo }}" readonly />
    </p>
    <p>
        <label for="edNombre">Nombre:</label>
        <input type="text" class="form-control" id="edNombre" name="edNombre"
               value="{{ casco.nombre }}" />
    </p>
    <div id="casco">
        <p>
            <label for="edBlindaje">Blindaje: (mm)</label>
            <input type="text" class="form-control" id="edBlindaje" name="edBlindaje"
                   value="{{ casco.blindaje }}" />
        </p>
        <p>
            <label for="edAncho">Ancho: (m)</label>
            <input type="text" class="form-control" id="edAncho" name="edAncho"
                   value="{{ casco.ancho }}" />
        </p>
        <p>
            <label for="edLargo">Largo: (m)</label>
            <input type="text" class="form-control" id="edLargo" name="edLargo"
                   value="{{ casco.largo }}" />
        </p>
    </div>
    <p><input type="submit" value="Modificar"></p>
</div>
</form>


<script>
    function check()
    {
        const edNombre = document.getElementById( "edNombre" );
        const edTipo = document.getElementById( "edTipo" );

        return ( edNombre.value.trim().length > 0
              && edTipo.value.trim().length > 0)
    }
</script>



{% endblock %}